@model WLVSToolsV2.Web.Models.Home.HomeViewModel

@{
    ViewBag.Title = "Home";
}

<div class="row">
    @foreach (var menuItem in Model.MenuItems)
    {
        <div class="col-xs-12 col-md-6 col-lg-3 ">
            <a href="@Url.Content(menuItem.Url)" class="btn btn-default" role="button">@menuItem.Title</a>
        </div>
    }
</div>

@section Styles{
    <style>
        .btn {
            width: 100%;
            height: 250px;
            line-height: 250px;
            font-size: xx-large;
        }
    </style>
}