<footer class="mt-lg">
    <div class="row">
        <div class="col-xs-12 text-center">
            WLVS Tools V2<br />
            Copyright &copy; @DateTime.Now.Year<br />
            Powered by: Bootstrap, jQuery
        </div>
    </div>
</footer>